<%- include('partials/head') %>

<body>
  <div>
    <div id="chooseGameContainer">
      <button id="createNewGame">CREATE NEW GAME</button>
      <button id="joinGame">JOIN GAME</button>
    </div>
    <div id="divOfAvailableGames"></div>
    <div id="divOfAvatars"></div>
  </div>

  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="/00-global-var-func.js"></script>
  <script src="/01-choose-game-mode.js"></script>
  <%- include ('partials/footer') %>
</body>
