<%- include('partials/head') %>

    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8">
          <!-- <h2 class="text-center m-3">TIME CHARM</h2> -->
          <div class="card">
            <div class="card-header">Sign Up</div>
            <div class="card-body">

              <form class="form-horizontal" id="signUpForm">

                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Your Name</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="cols-sm-2 control-label">Your Email</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password" class="cols-sm-2 control-label">Password</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter your Password" />
                    </div>
                  </div>
                </div>

                <input id='formSubmit' type="submit" value="Sign Up" class="btn btn-primary btn-md btn-block mb-2 login-button"></input>

                <!-- Foong's code -->
                <!-- <form id="signUpForm" style='width:15%; padding-top:5vh'>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
                    <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <input id='formSubmit' type="submit" class="btn btn-primary"></inp>
                </form> -->
            
                <!-- <div class="form-group ">
                  <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign Up</button>
                </div> -->
                <div class="login-signup">
                  <a href="/home/login">Login</a>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div class="d-flex p-2">
      <form action="/signup" method="POST">
        <div class="d-flex p-2 bd-highlight">
          <label for="email">Email: </label>
          <input type="text" id="email" name="email" class="mx-1" />
        </div>
        <div class="d-flex p-2 bd-highlight">
          <label for="email">Password: </label>
          <input type="password" id="password" name="password" class="mx-1" />
        </div>
        <input type="submit" value="Sign Up" class="mx-1">
      </form>
    </div> -->

    <script src="/user-script.js"></script>

    <%- include ('partials/footer') %>